{% extends "base.html" %}
{% load django_bootstrap5 %}<!-- カスタムテンプレートタグの読み込み -->

{% block content %}
  <h1 class="mt-5">CRUDアプリを作ってみよう</h1><!-- クラスを設定 -->
  {% for article in object_list %}
    <div class="card bg-light shadow-sm mt-3"><!-- クラスを設定 -->
      <div class="card-body"><!-- クラスを設定 -->
        <p>{{ article.id }}：{{ article.author }}：{{ article.created_at }}</p>
        <p><a href='{% url "bbs:detail" article.id %}'>{{ article.content }}</a></p>
      </div>
    </div>
  {% endfor %}

  <!-- ログインしている場合 -->
  {% if user.is_authenticated %}
  <div class="mt-3">
    <a href="{% url 'bbs:create' %}">{% bootstrap_button button_type="submit" content="新規投稿" size="md" %}</a>
  </div>
  {% endif %}
{% endblock %}